<div><h2>Update an Existing List </h2></div>
	<p></p>
	<%=simple_form_for(:list, :url => {:action => 'update', :id => @list.id}, :html => {:class => 'form-horizontal' }) do |f| %>
		<%= render(:partial => "form", :locals => {:f => f}) %>
		<div class="bottonRow">
			<%= submit_tag("Update List")%>
		</div>
	<% end %>